@import url('./other.css');
@import url('./reset.css');

/* 全局样式 */
.wrap-v1 {
  width: 1100px;
  margin: 0 auto;
}

.wrap-v2 {
  width: 980px;
  margin: 0 auto;
}

.sprite-01 {
  background: url(../images/sprite_01.png) no-repeat 0 9999px;
}

.sprite-02 {
  background: url(../images/sprite_02.png) no-repeat 0 9999px;
}
