.wy-recommend {
  .content {
    display: flex;
    background-color: #fff;
    .left {
      padding: 20px;
      width: 729px;
    }
    .right {
      width: 260px;
      border: 1px solid #d3d3d3;
      border: 0 1px;
    }
  }
}
